body
{ background-color:pink;

h2
{font-family:"Times New Roman",Georgia,Serif;
font-style:italic;
font-variant:small-caps;
font-weight:bold;
font-size:300%;
text-align: center;
color: teal}

.rindkopas
{font-size: 16px;
font-weight: bold;
color: magenta;
text-indent:30px;
text-align: justify;}

